.container {
  width: 100%;
  display: flex;
}

/*
 * 割合(合計100%)
 * 左: 30%
 * 中: 50%
 * 左: 20%
 */

.left {
  width: 30%;
  height: 100vh;
}

.center {
  width: 50%;
  height: 100vh;
}
.right {
  width: 20%;
  height: 100vh;
}
